﻿html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#content {
    margin-top: 80px;
}
#rightNavBar {
    margin-top: 8px;
}
div.nav-group {
    margin-bottom: 30px;
}

div.nav-group > .btn:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
    
div.nav-group > .btn:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.nav-group a {
    color: #999;
    background-color: #333 !important;
}
div.nav-group a.active {
    color:white;
}
div.nav-group a:hover {
    color:#f5f5f5;
    background-color: #333 !important;
}

.padding-left-0 
{
    padding-left: 0px;
}
.padding-right-0 
{
    padding-right: 0px;
}
.padding-bottom-0 
{
    padding-bottom: 0px;
}
/*filter form*/
.width-50 {
    width: 50%;
}
/**/

#btnAddFavorite {
    margin-top: 20px;
    margin-bottom: 20px;    
}
div.panel-border-bottom-0 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.border-top-0 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
a.not-underlined {
    text-decoration: none;
    cursor: pointer;
}
span.greenyellow {
    color: greenyellow;
}
.dropdown-menu li > a:hover {
    background-color: #428bca;
    color: white;
}
div.command-group {
    padding-left: 20px;
    padding-right: 20px;
}
.white {
    color: white;
}
a.yellow {
    color: yellow;
}
a.hover-red:hover {
    color: #d43f3a;
}
a.hover-blue:hover {
    color: #428bca;
}
a.hover-white:hover {
    color: white;
}
a.hover-yellow:hover {
    color: yellow;
}
a.hover-green:hover {
    color: #5cb85c;
}
.bg-black {
    background-color: #333 !important;
}
div.command-group > .btn:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px !important;
}
.btn-bottom-space {
    margin-bottom: 20px;
}
span.large-bold {
    font-size: large;
    font-weight: bold;
}
button.btn-outline-inverse.btn-success {
    color: #4cae4c;
    background-color: transparent;
    border-color:#4cae4c;
    border-width: initial;
}

button.btn-outline-inverse.btn-success:hover {
    color: #fff !important;
    background-color: #4cae4c !important;
}

button.btn-outline-inverse.btn-danger {
    color: #d43f3a;
    background-color: transparent;
    border-color:#d43f3a;
    border-width: initial;
}

button.btn-outline-inverse.btn-danger:hover {
    color: #fff !important;
    background-color: #d43f3a !important;
}

button.btn-outline-inverse.btn-warning {
    color: #eea236;
    background-color: transparent;
    border-color:#eea236;
    border-width: initial;
}

button.btn-outline-inverse.btn-warning:hover {
    color: #fff !important;
    background-color: #eea236 !important;
}

a.btn-outline-inverse.btn-info {
    color: #5bc0de;
    background-color: transparent;
    border-color:#5bc0de;
    border-width: initial;
}

a.btn-outline-inverse.btn-info:hover {
    color: #fff !important;
    background-color: #5bc0de !important;
}

.table td, th {
   text-align: center;   
}
.width-100 {
    width: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/*      Modal styles    */
div.modal.fade {
    top:25%;
}
/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}
*/

/* Styles for basic forms
----------------------------------------------------------
/*
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}
*/

/* Styles for validation helpers
---------------------------------------------------------
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}*/
