﻿@model IList<RPCSite.Models.NotUserClient>

@{
    ViewBag.Title = "Add Favorite Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 15px;">
    <div class="btn-group btn-group-lg nav-group">
        @Html.ActionLink("Clients", "Index", "Client", null, new {@class = "btn btn-default"})
        @Html.ActionLink("Favorites", "Index", "FavoriteClient", null, new {@class = "btn btn-default"})
        @Html.ActionLink("All", "Add", "FavoriteClient", null, new {@class = "btn btn-default active"})
        <a href="@Url.Action("Index", "NetworkGroup")" class="btn btn-default">Network<sup>beta</sup></a>
    </div>
</div>

@if (!Model.Any())
{
    <h3>You have already added all favorites</h3>
}

@for (int i = 0, colCount = 3; i < Model.Count; i += colCount)
{
    <div class="row nuclient-row">
        @for (int j = 0; j < colCount && ((i + j) < Model.Count); j++)
        {
            <div id="not-user-client-block-@Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 nuclient-unwrap nuclient-wrap-@i nuclient-panel">
                <div class="panel panel-default panel-border-bottom-0">
                    <div class="panel-heading clearfix bg-black border-top-0">
                         <h3 class="panel-title pull-left white" style="padding-top: 4px;">
                             <a href="#" id="notuserclient-itemstate-@Model[i+j].ClientId"><span class="glyphicon glyphicon-off"></span></a>
                             <a class="not-underlined collapse-trigger" data-toggle="collapse" data-target="#notuserclient-collapse-@Model[i+j].ClientId" >
                                 <span class="networkname">@Model[i+j].ClientNetworkName </span><span class="greenyellow" title="Time PC was turned on">(@Model[i+j].WorkTimePercentage%)</span>
                             </a>
                         </h3>
                         <span class="pull-right">
                             <a class="btn btn-sm white hover-blue" title="See details" href="@Url.Action("Details", "Client", new {id=Model[i+j].ClientId})"><span class="glyphicon glyphicon-th-list"></span></a>
                             <a id="btnAddRemoveFav-@Model[i+j].ClientId" class="btn btn-sm isFav-@Model[i+j].IsFavorite.ToString()" href="#"><span class="glyphicon glyphicon-star"></span></a>
                         </span>
                    </div><!--<div class="panel-heading clearfix bg-black border-top-0">-->
                    <div id="notuserclient-collapse-@Model[i + j].ClientId" class="panel-collapse collapse in">
                         <div class="panel-footer text-center">
                             PC Owner: @Model[i+j].Username
                         </div><!--<div class="panel-footer">-->
                     </div>
                </div><!--<div class="panel panel-default panel-border-bottom-0">-->
            </div><!--<div id="not-user-client-block-@Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 unwrap">-->
        }
    </div>
}

@section scripts{
    <script type="text/javascript">
        var checkStates = function () {
            $.ajax({
                url: "@Url.Action("CheckStates","Client")",
                type: "POST",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        switchStateColor(obj.ClientId, obj.CurrentState);
                    });
                }
            });
        };

        var switchStateColor = function (id, currentState) {
            var itemstateId = "#notuserclient-itemstate-" + id;
            $(itemstateId).attr("title", currentState);
            switch (currentState) {
                case "On":
                    $(itemstateId).css("color", "#4cae4c");
                    break;
                case "Off":
                    $(itemstateId).css("color", "#d43f3a");
                    break;
                case "Process...":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "Sleep":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "On (Client is not running)":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "Server Inaccessible":
                    $(itemstateId).css("color", "#eea236");
                    break;
            }
        };
        
        var restoreNotUserClientCollapsedPartStates = function () {
            $("div.panel-collapse.collapse").each(function () {
                var arrInfo = $(this).attr("id").split("-");
                var notUserClientId = arrInfo[2];
                var notUserClientCollapsedPartId = "#notuserclient-collapse-" + notUserClientId;
                //console.log(notUserClientCollapsedPartId);
                if (localStorage.getItem(notUserClientCollapsedPartId) == "true") {
                    //console.log(localStorage.getItem(favCollapsedPartId));
                    $(notUserClientCollapsedPartId).removeClass("in");
                }
                //else $(clientCollapsedPartId).removeClass("in").addClass("in");
            });
        };

        checkStates();
        $(document).ready(function() {
            setInterval(checkStates, 1500);
            
            $("a.isFav-True").removeClass("yellow hover-white remove-fav").addClass("yellow hover-white remove-fav").attr("title", "Remove favorite");
            $("a.isFav-False").removeClass("white hover-yellow add-fav").addClass("white hover-yellow add-fav").attr("title", "Add to favorites");
            
            restoreNotUserClientCollapsedPartStates();
            
            $("a.add-fav").on("click", function() {
                var arrInfo = $(this).attr("id").split("-");
                var itemId = arrInfo[1];
                console.log(itemId);
                $.ajax({
                    async: false,
                    url: "@Url.Action("Add","FavoriteClient")",
                    type: "post",
                    data: { "id": itemId },
                    datatype: "json"
                });
                location.reload();
            });

            $("a.remove-fav").on("click", function() {
                var arrInfo = $(this).attr("id").split("-");
                var itemId = arrInfo[1];
                console.log(itemId);
                $.ajax({
                    async: false,
                    url: "@Url.Action("Delete", "FavoriteClient")",
                    type: "post",
                    data: { "id": itemId },
                    datatype: "json"
                });
                location.reload();
            });
            
            $(window).on("resize", function () {
                setSiteTo320();
                setSiteTo1080();
                setSiteTo1200();
            });
            
            $("a.collapse-trigger").on("click", function () {
                var arrInfo = $(this).attr("data-target").split("-");
                var notUserClientId = arrInfo[2];
                var notUserClientCollapsedPartId = "#notuserclient-collapse-" + notUserClientId;
                var isCollapsed = $(notUserClientCollapsedPartId).hasClass("in") ? true : false;
                localStorage.setItem(notUserClientCollapsedPartId, isCollapsed);
                //console.log(localStorage.getItem(favCollapsedPartId));
            });
        });
        
        var setSiteTo1080 = function () {
            if ($(window).width() < 1190 && $(".nuclient-row").length > 0) {
                $(".nuclient-unwrap").unwrap();
                //$(".unwrap").css("padding-left", "0px");
                wrapTwoPanelByRow();
            }
        };

        var wrapTwoPanelByRow = function () {
            var $clientPanel = $("div.nuclient-panel");
            var clientPanelCount = $clientPanel.length;
            var classNameToAdd = "nuclient-wrap-2-";
            console.log(clientPanelCount);
            var clientPanelInRowCount = 2;
            for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount) {
                for (var j = 0; j < clientPanelInRowCount && (i + j) < clientPanelCount; j++) {
                    $("div.nuclient-panel:eq(" + (i + j) + ")").removeClass(classNameToAdd + i);
                    $("div.nuclient-panel:eq(" + (i + j) + ")").addClass(classNameToAdd + i);
                    $("div.nuclient-panel:eq(" + (i + j) + ")").removeClass("nuclient-unwrap-2");
                    $("div.nuclient-panel:eq(" + (i + j) + ")").addClass("nuclient-unwrap-2");
                    console.log(classNameToAdd + i);
                }
            }
            if ($(".nuclient-row-2").length <= 0)
                for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount)
                    $("div." + classNameToAdd + i).wrapAll("<div class='row nuclient-row-2'></div>");
        };

        var setSiteTo1200 = function () {
            if ($(window).width() >= 1190 && $(".nuclient-row-2").length > 0) {
                $(".nuclient-unwrap-2").unwrap();
            }
            if ($(window).width() >= 1190 && $(".nuclient-row").length <= 0) {
                var colCount = 3;
                var count = parseInt('@(Model.Count)');
                for (var i = 0; i < count; i += colCount) {
                    $(".nuclient-wrap-" + i).wrapAll("<div class='row nuclient-row'></div>");
                }
            }
        };
        var setSiteTo320 = function () {
            if ($(window).width() <= 320) {
                $("span.networkname").each(function () {
                    var fullNetworkName = $(this).text();
                    console.log(fullNetworkName);
                    if (fullNetworkName.length > 6) {
                        var shortNetworkName = fullNetworkName.substring(0, 6) + "... ";
                        $(this).text(shortNetworkName);
                    }
                });
            }
        };

        setSiteTo320();
        setSiteTo1080();
        setSiteTo1200();
    </script>
}