﻿@model IList<RPCSite.Models.FavoriteClient>

@{
    ViewBag.Title = "Favorite Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 15px;">
    <div class="btn-group btn-group-lg nav-group">
        @Html.ActionLink("Clients", "Index", "Client", null, new {@class = "btn btn-default"})
        @Html.ActionLink("Favorites", "Index", "FavoriteClient", null, new {@class = "btn btn-default active"})
        @Html.ActionLink("All", "Add", "FavoriteClient", null, new {@class = "btn btn-default"})
        <a href="@Url.Action("Index", "NetworkGroup")" class="btn btn-default">Network<sup>beta</sup></a>
    </div>    
</div>

@if (!Model.Any())
{
    <h2>You have not favorites yet</h2>
}

@for (int i = 0, colCount = 3; i < Model.Count; i += colCount)
{
    <div class="row fav-row">
         @for (int j = 0; j < colCount && ((i + j) < Model.Count); j++)
         {
             <div id="favorite-block-@Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 fav-unwrap fav-wrap-@i fav-panel">
                 <div class="panel panel-default panel-border-bottom-0">
                     <div class="panel-heading clearfix bg-black border-top-0">
                         <h3 class="panel-title pull-left white" style="padding-top: 4px;">
                             <a href="#" id="fav-itemstate-@Model[i+j].ClientId"><span class="glyphicon glyphicon-off"></span></a>
                             <a class="not-underlined collapse-trigger" data-toggle="collapse" data-target="#fav-collapse-@Model[i+j].ClientId" >
                                 <span class="networkname">@Model[i+j].ClientNetworkName </span><span class="greenyellow" title="Time PC was turned off">(@Model[i+j].WorkTimePercentage%)</span>
                             </a>
                         </h3>
                         <span class="pull-right">
                             <a class="btn btn-sm white hover-blue" title="See details" href="@Url.Action("Details", "Client", new {id=Model[i+j].ClientId})"><span class="glyphicon glyphicon-th-list"></span></a>
                             <a id="btnDeleteClient-@Model[i+j].ClientId" class="btn btn-sm yellow hover-white delete-fav" title="Remove favorite" href="#"><span class="glyphicon glyphicon-star"></span></a>
                         </span>
                     </div><!--<div class="panel-heading clearfix bg-black border-top-0">-->
                     <div id="fav-collapse-@Model[i + j].ClientId" class="panel-collapse collapse in">
                         <div class="panel-footer text-center">
                             PC Owner: @Model[i+j].Username
                         </div><!--<div class="panel-footer">-->
                     </div>
                 </div><!--<div class="panel panel-default panel-border-bottom-0">-->
             </div><!--<div id="favorite-block-Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 unwrap">-->
         }
    </div><!--<div class="row">-->
}

@section scripts{
    <script type="text/javascript">
        var checkStates = function () {
            $.ajax({
                url: "@Url.Action("CheckStates","Client")",
                type: "POST",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        switchStateColor(obj.ClientId, obj.CurrentState);
                    });
                }
            });
        };
        
        var switchStateColor = function (id, currentState) {
            var itemstateId = "#fav-itemstate-" + id;
            $(itemstateId).attr("title", currentState);
            switch (currentState) {
                case "On":
                    $(itemstateId).css("color", "#4cae4c");
                    break;
                case "Off":
                    $(itemstateId).css("color", "#d43f3a");
                    break;
                case "Process...":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "Sleep":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "On (Client is not running)":
                    $(itemstateId).css("color", "#eea236");
                    break;
                case "Server Inaccessible":
                    $(itemstateId).css("color", "#eea236");
                    break;
            }
        };
        
        var restoreFavCollapsedPartStates = function () {
            $("div.panel-collapse.collapse").each(function () {
                var arrInfo = $(this).attr("id").split("-");
                var favId = arrInfo[2];
                var favCollapsedPartId = "#fav-collapse-" + favId;
                console.log(favCollapsedPartId);
                if (localStorage.getItem(favCollapsedPartId) == "true") {
                    //console.log(localStorage.getItem(favCollapsedPartId));
                    $(favCollapsedPartId).removeClass("in");
                }
                //else $(clientCollapsedPartId).removeClass("in").addClass("in");
            });
        };

        checkStates();
        $(document).ready(function() {
            checkStates();
            setInterval(checkStates, 1500);
            restoreFavCollapsedPartStates();
            $("a.delete-fav").on("click", function() {
                var arrInfo = $(this).attr("id").split("-");
                var itemId = arrInfo[1];
                console.log(itemId);
                $.ajax({
                    async: false,
                    url: "@Url.Action("Delete", "FavoriteClient")",
                    type: "post",
                    data: { "id": itemId },
                    datatype: "json"
                });
                location.reload();
            });
            
            $(window).on("resize", function () {
                setSiteTo320();
                setSiteTo1080();
                setSiteTo1200();
            });
            
            $("a.collapse-trigger").on("click", function () {
                var arrInfo = $(this).attr("data-target").split("-");
                var favId = arrInfo[2];
                var favCollapsedPartId = "#fav-collapse-" + favId;
                var isCollapsed = $(favCollapsedPartId).hasClass("in") ? true : false;
                localStorage.setItem(favCollapsedPartId, isCollapsed);
                //console.log(localStorage.getItem(favCollapsedPartId));
            });
        });
        
        var setSiteTo1080 = function () {
            if ($(window).width() < 1190 && $(".fav-row").length > 0) {
                $(".fav-unwrap").unwrap();
                //$(".unwrap").css("padding-left", "0px");
                wrapTwoPanelByRow();
            }
        };
        
        var wrapTwoPanelByRow = function () {
            var $clientPanel = $("div.fav-panel");
            var clientPanelCount = $clientPanel.length;
            var classNameToAdd = "fav-wrap-2-";
            console.log(clientPanelCount);
            var clientPanelInRowCount = 2;
            for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount) {
                for (var j = 0; j < clientPanelInRowCount && (i + j) < clientPanelCount; j++) {
                    $("div.fav-panel:eq(" + (i + j) + ")").removeClass(classNameToAdd + i);
                    $("div.fav-panel:eq(" + (i + j) + ")").addClass(classNameToAdd + i);
                    $("div.fav-panel:eq(" + (i + j) + ")").removeClass("fav-unwrap-2");
                    $("div.fav-panel:eq(" + (i + j) + ")").addClass("fav-unwrap-2");
                    console.log(classNameToAdd + i);
                }
            }
            if ($(".fav-row-2").length <= 0)
                for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount)
                    $("div." + classNameToAdd + i).wrapAll("<div class='row fav-row-2'></div>");
        };

        var setSiteTo1200 = function () {
            if ($(window).width() >= 1190 && $(".fav-row-2").length > 0) {
                $(".fav-unwrap-2").unwrap();
            }
            if ($(window).width() >= 1190 && $(".fav-row").length <= 0) {
                var colCount = 3;
                var count = 2 //magic number parseInt('(Model.Count)');
                for (var i = 0; i < count; i += colCount) {
                    $(".fav-wrap-" + i).wrapAll("<div class='row fav-row'></div>");
                }
            }
        };
        var setSiteTo320 = function () {
            if ($(window).width() <= 320) {
                $("span.networkname").each(function () {
                    var fullNetworkName = $(this).text();
                    console.log(fullNetworkName);
                    if (fullNetworkName.length > 6) {
                        var shortNetworkName = fullNetworkName.substring(0, 6) + "... ";
                        $(this).text(shortNetworkName);
                    }
                });
            }
        };

        setSiteTo320();
        setSiteTo1080();
        setSiteTo1200();
    </script>
}
