﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/Content/images/favicon.ico"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/bootstrapselectcss")
    @Styles.Render("~/Content/css")
    @{
     /*@Scripts.Render("~/bundles/modernizr")
      *@Styles.Render("~/Content/css")*/   
    }

</head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="">Remote Power Controller</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="Home" class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li id="About">@Html.ActionLink("About", "About", "Home")</li>
                        <!--<li><a href="#contact">Contact</a></li>-->
                    </ul>
                    <div id="rightNavBar" class="navbar-right">
                        @if (WebSecurity.IsAuthenticated)
                        {
                            <p class="pull-left" style="color: white; padding-top: 7.5px;">Hi, @WebSecurity.CurrentUserName</p> 
                        }
                        <div class="pull-left" style="margin-left:6px;">
                            <a  class="btn btn-primary pull-left" href="~/Downloads/RPCClient_setup.exe" title="Download Client">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        </div>
                        @if (WebSecurity.IsAuthenticated)
                        {
                            <div class="pull-left" style="margin-left: 6px;">
                                <a class="btn btn-default dropdown-toggle" href="@Url.Action("Search", "Client")" title="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                            <div class="pull-left">
                                <a href="@Url.Action("LogOut", "Home")" class="btn btn-success" title="Log Out" style="margin-left: 6px;">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </div>
                        }
                    </div>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
        <div id="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted">&copy; @DateTime.UtcNow.Year - Remote Power Controller</p>
            </div>
        </div>
        <!--Shut Down Modal-->
        <div id="shutDownConfiramtion" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Shut Down Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>On your PC may be running some apps, shut down anyway?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnShutDownClient" class="btn btn-danger">Shut Down</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--Group List Modal-->
        <div id="groupListModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Group List</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnSaveClientsInGroups" class="btn btn-primary">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/bootstrapselectjs")
        @Scripts.Render("~/bundles/highcharts")
        @Scripts.Render("~/bundles/rpcsiteapi")
        <script type="text/javascript">
            //Check Server Activity
            var checkServerActivity = function () {
                $.ajax({
                    url: "@Url.Action("CheckServerActivity", "Client")",
                    type: "POST",
                    success: function (data) { }
                });
            };
            //Periodical functions
            checkServerActivity();
            setInterval(checkServerActivity, 1500);
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
