﻿@model IList<RPCSite.Models.ClientDetails>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-group btn-group-lg nav-group">
    @Html.ActionLink("Clients", "Index", "Client", null, new{@class="btn btn-default"})
    @Html.ActionLink("Favorites", "Index", "FavoriteClient", null, new{@class="btn btn-default"})
    @Html.ActionLink("All", "Add", "FavoriteClient", null, new { @class = "btn btn-default" })
</div>

@if (Model.Any())
{
    <h2>Details for @Model[0].Networkname (@Model[0].Username)</h2>
    <h4>Longest work time  - @Model[0].LongestWorkTime</h4>
    <h4>Total tracking time - @Model[0].TotalTrackingTime</h4>
    <h4>Total work time - @Model[0].TotalWorkTime</h4>
}

<div id="chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto; width: 100%"></div>
<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table id="tblDetails" class="table table-bordered">
    <tr>
        <th>
            DateTime
            <a href="@Url.Action("Details", "Client", new { sortOrder = ViewBag.DateTime })"><img id=""  class="" src="~/Content/images/Sorting.png" alt="Sort" title="Sort"/></a>
        </th>
        <th>
            State
            <a href="@Url.Action("Details", "Client", new { sortOrder = ViewBag.State })"><img id=""  class="" src="~/Content/images/Sorting.png" alt="Sort" title="Sort"/></a>
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
        </tr>
    }

</table>
<!--@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })-->

@section scripts{
    <script type="text/javascript">
        var colorTable = function() {
            $("#tblDetails tr").each(function() {
                var tdValue = $(this).find("td:last-child").text();
                console.log(tdValue);
                if (tdValue.indexOf("Off") >= 0)
                    $(this).addClass("danger");
                if (tdValue.indexOf("On") >= 0)
                    $(this).addClass("success");
            });
        };
        var getSecondsFromHours = function(hours) {
            return (hours * 3600);
        };
        var getSecondsFromMinutes = function(hours) {
            return (hours * 60);
        };

        var getTotalSecondsFromTimeSpan = function (timespan) {
            var totalTimeArr = timespan.split(":");
            var totalSeconds = getSecondsFromHours(parseInt(totalTimeArr[0])) + getSecondsFromMinutes(parseInt(totalTimeArr[1])) + parseFloat(totalTimeArr[2]);
            return totalSeconds;
        };
        $(document).ready(function () {
            Highcharts.setOptions({
                colors: ['#24CBE5', '#50B432']
            });
            var totalSeconds = getTotalSecondsFromTimeSpan("@(Model[0].TotalTrackingTime)");
            var totalWorkingSeconds = getTotalSecondsFromTimeSpan("@(Model[0].TotalWorkTime)");
            var workTimePercentage = (totalWorkingSeconds * 100) / totalSeconds;
            var noWorkTimePercentage = 100 - workTimePercentage;
            console.log(totalSeconds + "-" + totalWorkingSeconds);
            $('#chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: 'Work time'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Work Time Pie',
                    data: [
                        ['Free Time', noWorkTimePercentage],
                        {
                            name: 'Work Time',
                            y: workTimePercentage,
                            sliced: true,
                            selected: true
                        }
                    ]
                }]
            });
            colorTable();
        });
    </script>
}