﻿@model IList<RPCSite.Models.Client>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 15px;">
    <div class="btn-group btn-group-lg nav-group">
            @Html.ActionLink("Clients", "Index", "Client", null, new { @class = "btn btn-default active" })
            @Html.ActionLink("Favorites", "Index", "FavoriteClient", null, new { @class = "btn btn-default" })
            @Html.ActionLink("All", "Add", "FavoriteClient", null, new { @class = "btn btn-default" })
            <a href="@Url.Action("Index", "Group")" class="btn btn-default">Network<sup>beta</sup></a>
    </div>
</div>

@if (!Model.Any())
{
    <h2>You have not clients yet</h2>
}

@for (int i = 0, colCount = 3; i < Model.Count; i += colCount)
{
    <div class="row client-row">
        @for (int j = 0; j < colCount && ((i + j) < Model.Count); j++)
        {
            <div id="client-block-@Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 unwrap wrap-@i client-panel" style="padding-bottom: 0px;">
                <div class="panel panel-default panel-border-bottom-0">
                    <div class="panel-heading clearfix bg-black border-top-0" style="padding-bottom: 7px;">
                        <h3 class="panel-title pull-left white" style="padding-top: 2px;">
                            <a class="" href="#" id="itemstate-@Model[i + j].ClientId" style="color: #eea236;"><span class="glyphicon glyphicon-off"></span></a>
                            <a class="not-underlined client-collapse-trigger" data-toggle="collapse" data-target="#collapse-client-@Model[i + j].ClientId" >
                                <span class="networkname">@Model[i + j].NetworkName </span><span class="greenyellow" title="Time your PC was turned off">(@Model[i + j].WorkTimePercentage%)</span>
                            </a>
                        </h3>
                        <div class="dropdown pull-right" style="">
                            <a class="white hover-blue btn-lg" data-toggle="dropdown" href="#" id="ddClientMenu-@Model[i+j].ClientId" style="padding: 0px;"><span class="glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="ddClientMenu-@Model[i+j].ClientId">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "Client", new {id = Model[i + j].ClientId})">Details</a>
                                </li>
                                <li role="presentation">
                                    <a id="btnMoveClient-@Model[i+j].ClientId" role="menuitem" tabindex="-1" href="#" class="move-client">Move...</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a id="btnDeleteClient-@Model[i + j].ClientId" class="delete-client" title="" href="#">Delete client</a>
                                </li>
                            </ul>
                            <!--<a class="btn btn-sm white hover-blue" title="See details" href="Url.Action("Details", "Client", new {id = Model[i + j].ClientId})"><span class="glyphicon glyphicon-list"></span></a>-->
                            <!--<a id="btnDeleteClient-Model[i + j].ClientId" class="btn btn-sm white hover-red delete-client" title="Remove client" href="#"><span class="glyphicon glyphicon-trash"></span></a>-->
                        </div>
                    </div><!--<div class="panel-heading clearfix">-->
                    <div id="collapse-client-@Model[i + j].ClientId" class="client-panel-collapse panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center">
                                    <div id="command-group-@Model[i+j].ClientId" class="btn-group-vertical width-100 command-group command-group-@Model[i + j].ClientId">
                                        <button type="button" id="submit-turn_on-@Model[i + j].ClientId" class="btn btn-success btn-block btn-outline-inverse command" style="display: none;"><span class="large-bold" style="">Turn On</span></button>
                                        <button type="button" id="submit-shut_down-@Model[i + j].ClientId" class="btn btn-danger btn-block btn-outline-inverse command btn-bottom-space" style="display: none;"><span class="large-bold" style="">Shut Down</span></button>
                                        <button type="button" id="submit-sleep-@Model[i + j].ClientId" class="btn btn-warning btn-block btn-outline-inverse command btn-bottom-space" style="display: none;"><span class="large-bold" style="">Sleep</span></button>
                                        <a id="submit-rd-@Model[i + j].ClientId" href="@Url.Action("DownloadRDP", "Client", new {id = Model[i + j].ClientId})" class="btn btn-info btn-block btn-outline-inverse" style="display: none;"><span class="large-bold" style="">Remote Desktop</span></a>
                                        <p  id="text-message-@Model[i + j].ClientId" class="text-muted text-center" style="display: none;">Process...</p>
                                    </div>
                                </div><!--<div class="text-center">-->
                            </div><!--<div class="row">-->
                        </div><!--<div class="panel-body">-->
                        <div class="panel-footer text-center">
                            <a href="@Model[i+j].TurnOnLink">Turn On Link</a>
                            <br>
                            <a href="@Model[i + j].TurnOnWithRDLink">Turn On and Connect With RD Link</a>
                        </div><!--<div class="panel-footer">-->
                    </div><!--<div id="collapse-Model[i + j].ClientId" class="panel-collapse collapse in">-->
                </div><!--<div class="panel panel-default panel-border-bottom-0">-->
            </div>
            <!--<div id="client-block-Model[i+j].ClientId" class="col-sm-6 col-md-6 col-lg-4 unwrap wrap-@i client-panel">-->
        }
    </div><!--<div class="row client-row">-->
}
      
<!--Client Delete Modal-->
<div id="deleteClientConfiramtion" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>    
      <div class="modal-body">
        <p>Do you really want to delete this client?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="btnDeleteClient" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script type="text/javascript">
        
        //Check States logic
        var switchStateColor = function(id, currentState) {
            var itemstateClass = "a#itemstate-" + id;
            $(itemstateClass).attr("title", currentState);
            switch (currentState) {
            case "On":
                $(itemstateClass).css("color", "#4cae4c");
                break;
            case "Off":
                $(itemstateClass).css("color", "#d43f3a");
                break;
            case "Process...":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "Sleep":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "On (Client is not running)":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "Server Inaccessible":
                $(itemstateClass).css("color", "#eea236");
                break;
            }
        };

        var insertButton = function(id, currentState) {
            var btnOnId = "button#submit-turn_on-" + id;
            var btnOffId = "button#submit-shut_down-" + id;
            var btnSleepId = "button#submit-sleep-" + id;
            var txtProcId = "p#text-message-" + id;
            var processText = "Process...";
            var serverInaccessbleText = "Server Inaccessible";
            var linkRDId = "a#submit-rd-" + id;
            switch (currentState) {
            case "On":
                $(txtProcId).hide();
                $(btnOnId).hide();
                $(btnOffId).show();
                $(btnSleepId).show();
                $(linkRDId).show();
                break;
            case "Off":
                $(btnOnId).show();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).hide();
                break;
            case "Process...":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).text(processText);
                $(txtProcId).show();
                $(linkRDId).hide();
                break;
            case "Sleep":
                $(btnOnId).show();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).show();
                break;
            case "On (Client is not running)":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).show();
                break;
            case "Server Inaccessible":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).text(serverInaccessbleText);
                $(txtProcId).show();
                $(linkRDId).hide();
            }
        };

        var checkStates = function() {
            $.ajax({
                url: "@Url.Action("CheckStates", "Client")",
                type: "POST",
                success: function(data) {
                    $.each(data, function(i, obj) {
                        switchStateColor(obj.ClientId, obj.CurrentState);
                        insertButton(obj.ClientId, obj.CurrentState);
                        if (obj.Command == "0") {
                            var commandGroupId = "div.command-group-" + obj.ClientId + " button";
                            $(commandGroupId).removeAttr("disabled");
                        }
                        if (obj.Command == "Process...") {
                            insertButton(obj.ClientId, "Process...");
                        }
                    });
                }
            });
        };
        //Move client handler        
        //
        //Delete client handler
        var deleteClientHandler = function() {
            $("a.delete-client").on("click", function() {
                var arrInfo = $(this).attr("id").split("-");
                var clientId = arrInfo[1];
                $("#deleteClientConfiramtion").modal("show");
                $("#btnDeleteClient").on("click", function() {
                    $.ajax({
                        url: "@Url.Action("Delete", "Client")",
                        type: "post",
                        data: { "clientId": clientId },
                        datatype: "json",
                        success: function(data) {
                            $("#btnDeleteClient").off("click");
                            location.reload();
                        }
                    });
                });
                $("#deleteClientConfiramtion").on("hide.bs.modal", function() {
                    $("#btnDeleteClient").off("click");
                });
            });
        };
        // Responsive desing section
        var setSiteTo320 = function() {
            if ($(window).width() <= 320) {
                $("span.networkname").each(function() {
                    var fullNetworkName = $(this).text();
                    console.log(fullNetworkName);
                    if (fullNetworkName.length > 8) {
                        var shortNetworkName = fullNetworkName.substring(0, 8) + "... ";
                        $(this).text(shortNetworkName);
                    }
                });
            }
        };

        var wrapTwoPanelByRow = function() {
            var $clientPanel = $("div.client-panel");
            var clientPanelCount = $clientPanel.length;
            var classNameToAdd = "wrap-2-";
            var clientPanelInRowCount = 2;
            for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount) {
                for (var j = 0; j < clientPanelInRowCount && (j + i) < clientPanelCount; j++) {
                    $("div.client-panel:eq(" + (i + j) + ")").removeClass(classNameToAdd + i).addClass(classNameToAdd + i);
                    $("div.client-panel:eq(" + (i + j) + ")").removeClass("unwrap-2").addClass("unwrap-2");
                }
            }
            if ($(".client-row-2").length <= 0) {
                for (var i = 0; i < clientPanelCount; i += clientPanelInRowCount) {
                    $("div." + classNameToAdd + i).wrapAll("<div class='row client-row-2'></div>");
                }
            }
        };

        var setSiteTo1080 = function() {
            if ($(window).width() < 1190 && $(".client-row").length > 0) {
                $(".unwrap").unwrap();

                wrapTwoPanelByRow();
            }
        };

        var setSiteTo1200 = function() {
            if ($(window).width() >= 1190 && $(".client-row-2").length > 0) {
                $(".unwrap-2").unwrap();
            }
            if ($(window).width() >= 1190 && $(".client-row").length <= 0) {
                var colCount = 3;
                var count = parseInt("@(Model.Count)"); // magic number
                console.log(count);
                for (var i = 0; i < count; i += colCount) {
                    $(".wrap-" + i).wrapAll("<div class='row client-row'></div>");
                }
            }
        };

        var windowResizeHandler = function() {
            $(window).on("resize", function() {
                setSiteTo320();
                setSiteTo1080();
                setSiteTo1200();
            });
        };

        //Responsive logic
        setSiteTo320();
        setSiteTo1080();
        setSiteTo1200();
        //
        //Periodical functions
        checkStates();
        $(document).ready(function(e) {
            //Periodical functions
            checkStates();
            setInterval(checkStates, 1500);

            //Client hadnling section
            restoreClientCollapsedPartStates();
            commandHandler("@Url.Action("SwitchCommand", "Client")");
            clientCollapseHandler();
            moveClientToGroups("@Url.Action("GetGroupList", "Group")");
            moveClientToGroupsHadler("@Url.Action("MoveClientToGroups", "Group")");
            deleteClientHandler();
            //
            //Responsive logic
            windowResizeHandler();
        });
    </script>
}
