﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/images/favicon.ico"/>
    <title>RPC Turn On</title>
     @Styles.Render("~/Content/bootstrapcss")
    <link href="~/Content/cover.css" rel="stylesheet">
</head>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"></h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading"><img src="~/Content/images/RPCIcon.png"/>Remote Power Controller</h1>
                        <p class="lead">Turn On command to client @(ViewBag.Name ?? Html.Raw("&nbsp;")) was sent.</p>
                        <p class="lead">
                            <!--<a href="#" class="btn btn-lg btn-default">Learn More</a>-->
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            
                        </div>
                    </div>

                </div>

            </div>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrapjs")
    </body>
</html>
