﻿@model IEnumerable<RPCSite.Models.Group>

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 15px;">
    <div class="btn-group btn-group-lg nav-group">
            @Html.ActionLink("Clients", "Index", "Client", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Favorites", "Index", "FavoriteClient", null, new { @class = "btn btn-default" })
            @Html.ActionLink("All", "Add", "FavoriteClient", null, new { @class = "btn btn-default" })
            <a href="@Url.Action("Index", "Group")" class="btn btn-default active">Network<sup>beta</sup></a>
    </div>
</div>

@if (!Model.Any())
{
    <h2>You have not groups and clients yet</h2>
}
@{
    int k = -1;
}
@foreach (var item in Model)
{
    <div id="groupPanel-@item.GroupId" class="panel panel-default panel-border-bottom-0 group-panel">
        <div class="panel-heading clearfix bg-black border-top-0">
            <h3 class="panel-title pull-left white" style="">
                <a class="white not-underlined group-collapse-trigger" data-toggle="collapse" data-target="#collapseGroup-@item.GroupId">
                    <span class="white"><span class="glyphicon glyphicon-chevron-down" style="font-size: 0.8em;"></span></span>
                    <span class="white group-name" style="font-size: 1em;">@item.GroupName </span><span class="greenyellow" title="Time PC group was turned off">(@item.GroupWorkTimePercentage%)</span>
                </a>
            </h3>
            <span class="pull-right">
                <a id="btnCreateGroup-@item.GroupId" class="not-underlined white hover-green create-group" href="#" style="display: none;"><span class="glyphicon glyphicon-plus"></span><span class=""> Create group</span></a>
                <a id="btnEditGroup-@item.GroupId" class="white hover-blue edit-group" title="Edit" href="#" style="margin-right: 15px;"><span class="glyphicon glyphicon-pencil"></span></a>
                <a id="btnDeleteGroup-@item.GroupId" class="white hover-red delete-group" title="Remove group" href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        </div><!--<div class="panel-heading clearfix bg-black border-top-0">-->
        <div id="collapseGroup-@item.GroupId" class="group-panel-collapse panel-collapse collapse in">
            <div class="panel-body padding-left-0 padding-right-0 padding-bottom-0">
                @if (!item.NetworkClients.Any())
                {
                    <h2 style="margin-top:0px; margin-left: 20px;">You have not clients here</h2>
                }
                @for (int i = 0, colCount = 3; i < item.NetworkClients.Count; i += colCount)
                {
                    k += 1;
                    <div class="row client-row">
                         @for (int j = 0; j < colCount && ((i + j) < item.NetworkClients.Count); j++)
                         {
                             <div id="networkClientBlock-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId" class="col-sm-6 col-md-6 col-lg-4 unwrap wrap-@k client-panel padding-bottom-0 network-client-block-@item.NetworkClients[i+j].NetworkClientId isCurrentUserClient-@item.NetworkClients[i+j].IsCurrentUserClient.ToString()" style="">
                                 <div class="panel panel-default panel-border-bottom-0">
                                     <div class="panel-heading clearfix bg-black border-top-0">
                                         <h3 class="panel-title pull-left white">
                                             <a id="itemState-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId"  class="itemstate-@item.NetworkClients[i+j].NetworkClientId" style="color: #eea236;"><span class="glyphicon glyphicon-off" style=""></span></a>
                                             <a class="not-underlined client-collapse-trigger" data-toggle="collapse" data-target="#collapse-client-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId">
                                                 <span class="networkname">@item.NetworkClients[i+j].NetworkName </span><span class="greenyellow" title="Time PC was turned off">(@item.NetworkClients[i+j].WorkTimePercentage%)</span>
                                             </a>
                                         </h3>
                                         <div id="" class="dropdown pull-right client-dd" style="">
                                             <a class="client-dd-trigger white hover-blue" data-toggle="dropdown" href="#" id="ddClientTrigger-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId"><span style="font-size: 1.15em;" class="glyphicon glyphicon-cog"></span></a>
                                             <ul class="dropdown-menu" role="menu" aria-labelledby="#ddClientTrigger-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId">
                                                 <li role="presentation">
                                                     <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "Client", new {id = item.NetworkClients[i + j].NetworkClientId})">Details</a>
                                                 </li>
                                                 <li role="presentation">
                                                     <a id="btnMoveClient-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" role="menuitem" tabindex="-1" href="#" class="move-client">Move...</a>
                                                 </li>
                                                 <li role="presentation" class="divider"></li>
                                                 <li role="presentation">
                                                     <a id="btnDeleteClient-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId" class="delete-client isCurrentUserClient-@item.NetworkClients[i+j].IsCurrentUserClient.ToString()" title="" href="#">Delete client</a>
                                                 </li>
                                             </ul>
                                         </div>
                                     </div>
                                     <div id="collapse-client-@item.GroupId-@item.NetworkClients[i + j].NetworkClientId" class="client-panel-collapse panel-collapse collapse in">
                                         @if (!item.NetworkClients[i + j].IsCurrentUserClient)
                                         {
                                             <div class="panel-footer">
                                                 <span class="col-xs-5">PC Owner:</span>
                                                 <strong class="">@item.NetworkClients[i+j].Username</strong>
                                                 <br/>
                                                 <span class="col-xs-5">Server:</span>
                                                 <strong class="">@item.NetworkClients[i+j].Server</strong>
                                             </div><!--<div class="panel-footer">-->
                                         }
                                         @if (item.NetworkClients[i + j].IsCurrentUserClient)
                                         {
                                             <div class="panel-body">
                                                 <div class="row">
                                                     <div class="text-center">
                                                         <div id="commandGroup-@item.GroupId-@item.NetworkClients[i+j].NetworkClientId" class="btn-group-vertical width-100 command-group command-group-@item.GroupId-@item.NetworkClients[i + j].NetworkClientId">
                                                             <button type="button" id="submit-turn_on-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" class="btn btn-success btn-block btn-outline-inverse command submit-turn_on-@item.NetworkClients[i+j].NetworkClientId" style="display: none;"><span class="large-bold" style="">Turn On</span></button>
                                                             <button type="button" id="submit-shut_down-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" class="btn btn-danger btn-block btn-outline-inverse command btn-bottom-space submit-shut_down-@item.NetworkClients[i+j].NetworkClientId" style="display: none;"><span class="large-bold" style="">Shut Down</span></button>
                                                             <button type="button" id="submit-sleep-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" class="btn btn-warning btn-block btn-outline-inverse command btn-bottom-space submit-sleep-@item.NetworkClients[i+j].NetworkClientId" style="display: none;"><span class="large-bold" style="">Sleep</span></button>
                                                             <a id="submit-rd-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" href="@Url.Action("DownloadRDP", "Client", new {id = item.NetworkClients[i+j].NetworkClientId})" class="btn btn-info btn-block btn-outline-inverse submit-rd-@item.NetworkClients[i+j].NetworkClientId" style="display: none;"><span class="large-bold" style="">Remote Desktop</span></a>
                                                             <p  id="text-message-@item.NetworkClients[i+j].NetworkClientId-@item.GroupId" class="text-muted text-center text-message-@item.NetworkClients[i+j].NetworkClientId" style="display: none;">Process...</p>
                                                         </div>
                                                     </div><!--<div class="text-center">-->
                                                 </div><!--<div class="row">-->
                                             </div><!--<div class="panel-body">-->
                                             <div class="panel-footer text-center">
                                                 <a href="@item.NetworkClients[i+j].TurnOnLink">Turn On Link</a>
                                                 <br>
                                                 <a href="@item.NetworkClients[i+j].TurnOnAndRDLink">Turn On and Connect With RD Link</a>
                                             </div><!--<div class="panel-footer">-->
                                         }
                                     </div><!--<div id="collapse-client-@item.GroupId-@item.NetworkClients[i + j].NetworkClientId" class="client-panel-collapse panel-collapse collapse in">-->
                                 </div>
                             </div>
                         }
                    </div>
                }
            </div>
        </div>
    </div><!--<div id="group-panel-@item.GroupId" class="panel panel-default panel-border-bottom-0 group-panel">-->
}
<!--Group Create Modal-->
<div id="createGroupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-offset-4 col-xs-offset-4 error-label" for="" style="padding-left:15px;">Input with error</label><br/>
                        <label for="createGroupNameInput" class="col-sm-4 col-xs-4 control-label">Enter group name</label>
                        <div class="col-sm-7 col-xs-7">
                            <input type="text" id="createGroupNameInput" class="form-control" placeholder="Group Name" autofocus/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnCreateGroup" class="btn btn-primary">Create</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Group Edit Modal-->
<div id="editGroupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-offset-4 col-xs-offset-4 error-label" for="" style="padding-left:15px;">Input with error</label><br/>
                        <label for="editGroupNameInput" class="col-sm-4 control-label">Edit group name</label>
                        <div class="col-sm-7">
                            <input type="text" id="editGroupNameInput" class="form-control" autofocus/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSaveGroup" class="btn btn-primary">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Group Delete Modal-->
<div id="deleteGroupConfiramtion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnDeleteGroup" class="btn btn-danger">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Client Delete Modal-->
<div id="deleteNetworkClientConfiramtion" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this client?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="btnDeleteNetworkClient" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Add Client to Group Modal-->
<div id="addClientToGroupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Move Client To Group Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Add client {0} to group {1}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnAddClientToGroup" class="btn btn-primary">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        var groupAllId = 1;
        //Group handling section definition
        var createGroupRequestHandler = function(url, modalSelector) {
            $("#btnCreateGroup").on("click", function() {
                var groupName = $("#createGroupNameInput").val().trim();
                var validationObject = isGroupNameValid(groupName);
                if (validationObject.isValid)
                    $.ajax({
                        url: url,
                        type: "post",
                        data: { "groupName": groupName },
                        datatype: "json",
                        success: function() {
                            location.reload();
                        }
                    });
                else {
                    $(modalSelector).find("label.error-label").text(validationObject.errorText);
                    $(modalSelector).find("div.form-group").removeClass("has-error").addClass("has-error");
                }
            });
        };

        var editGroupHandler = function(editGroupLinkselector, url) {
            $(editGroupLinkselector).on("click", function() {
                var groupId = $(this).attr("id").split("-")[1];
                var groupName = $("#groupPanel-" + groupId).find("span.group-name").text().trim();
                $("#editGroupNameInput").val(groupName);
                $("#editGroupModal").find("label.error-label").text("");
                $("#editGroupModal").find("div.form-group").removeClass("has-error");
                $("#editGroupModal").one("shown.bs.modal", function() {
                    $(this).find('input:first').focus();
                });
                $("#editGroupModal").modal("show");
                editRequestHandler({ "groupId": groupId, "groupName": groupName }, url);
            });
        };

        var editRequestHandler = function(groupToEdit, url) {
            $("#btnSaveGroup").on("click", function() {
                var groupId = groupToEdit.groupId;
                var groupName = groupToEdit.groupName;
                console.log(groupToEdit.groupId + " " + groupToEdit.groupName);
                var newGroupName = $("#editGroupNameInput").val().trim();
                if (groupName == newGroupName) {
                    $("#btnSaveGroup").off("click");
                    $("#editGroupModal").modal("hide");
                    return;
                }
                var validationObject = isGroupNameValid(newGroupName);
                console.log(validationObject.isValid + " " + validationObject.errorText);
                if (validationObject.isValid) {
                    $.ajax({
                        url: url,
                        type: "post",
                        data: { "id": groupId, "newGroupName": newGroupName },
                        datatype: "json",
                        success: function() {
                            $("#btnSaveGroup").off("click");
                            console.log("success");
                            location.reload();
                        }
                    });
                } else {
                    $("#editGroupModal").find("label.error-label").text(validationObject.errorText);
                    $("#editGroupModal").find("div.form-group").removeClass("has-error").addClass("has-error");
                }
            });
            $("#editGroupModal").on("hide.bs.modal", function() {
                $("#btnSaveGroup").off("click");
            });
        };

        var deleteGroupHandler = function(deleteGroupLinkSelector, url) {
            $(deleteGroupLinkSelector).on("click", function() {
                var groupId = $(this).attr("id").split("-")[1];
                $("#deleteGroupConfiramtion").modal("show");
                $("#btnDeleteGroup").on("click", function() {
                    $.ajax({
                        url: url,
                        type: "post",
                        data: { "id": groupId },
                        datatype: "json",
                        success: function(data) {
                            $("#btnDeleteGroup").off("click");
                            location.reload();
                        }
                    });
                });
                $("#deleteGroupConfiramtion").on("hide.bs.modal", function() {
                    $("#btnDeleteGroup").off("click");
                });
            });
        };
        //
        //Client handling section definition
        var switchStateColor = function(id, currentState) {
            var itemstateClass = "a.itemstate-" + id;
            $(itemstateClass).attr("title", currentState);
            switch (currentState) {
            case "On":
                $(itemstateClass).css("color", "#4cae4c");
                break;
            case "Off":
                $(itemstateClass).css("color", "#d43f3a");
                break;
            case "Process...":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "Sleep":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "On (Client is not running)":
                $(itemstateClass).css("color", "#eea236");
                break;
            case "Server Inaccessible":
                $(itemstateClass).css("color", "#eea236");
                break;
            }
        };

        var insertButton = function(id, currentState) {
            var btnOnId = "button.submit-turn_on-" + id;
            var btnOffId = "button.submit-shut_down-" + id;
            var btnSleepId = "button.submit-sleep-" + id;
            var txtProcId = "p.text-message-" + id;
            var processText = "Process...";
            var serverInaccessbleText = "Server Inaccessible";
            var linkRDId = "a.submit-rd-" + id;
            switch (currentState) {
            case "On":
                $(txtProcId).hide();
                $(btnOnId).hide();
                $(btnOffId).show();
                $(btnSleepId).show();
                $(linkRDId).show();
                break;
            case "Off":
                $(btnOnId).show();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).hide();
                break;
            case "Process...":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).text(processText);
                $(txtProcId).show();
                $(linkRDId).hide();
                break;
            case "Sleep":
                $(btnOnId).show();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).show();
                break;
            case "On (Client is not running)":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).hide();
                $(linkRDId).show();
                break;
            case "Server Inaccessible":
                $(btnOnId).hide();
                $(btnOffId).hide();
                $(btnSleepId).hide();
                $(txtProcId).text(serverInaccessbleText);
                $(txtProcId).show();
                $(linkRDId).hide();
            }
        };

        var checkStates = function() {
            $.ajax({
                url: "@Url.Action("CheckStates", "Client")",
                type: "POST",
                success: function(data) {
                    $.each(data, function(i, obj) {
                        switchStateColor(obj.ClientId, obj.CurrentState);
                        var clientBlockClass = "div.network-client-block-" + obj.ClientId;
                        if ($(clientBlockClass).hasClass("isCurrentUserClient-True")) {
                            insertButton(obj.ClientId, obj.CurrentState);
                            if (obj.Command == "0") {
                                var commandGroupId = "div.command-group-" + obj.ClientId + " button";
                                $(commandGroupId).removeAttr("disabled");
                            }
                            if (obj.Command == "Process...") {
                                insertButton(obj.ClientId, "Process...");
                            }
                        }
                    });
                }
            });
        };

        //Client handling section
        var clientDropDownHanlder = function() {
            $("a.client-dd-trigger").on("click", function(e) {
                if ($(this).parent().hasClass("open")) {
                    return;
                }
                var arrInfo = $(this).attr("id").split("-");
                var groupId = arrInfo[1];
                if (groupId == groupAllId) {
                    var deleteASelector = $(this).siblings("ul").find("li > a.delete-client");
                    if (deleteASelector.hasClass("isCurrentUserClient-False")) {
                        deleteASelector.parent().siblings("li.divider").hide();
                        deleteASelector.parent().hide();
                    }
                }
            });
        };

        var addClientToGroupHandler = function () {
            $("div.client-panel").on("mouseover", function () {
                var width = $(this).width();
                var height = $(this).height();
                $(this).draggable({
                    zIndex: 2500,
                    scroll: false,
                    helper: 'clone',
                    opacity: 0.8,
                    cursorAt: { left: width / 2 },
                    start: function (e, ui) {
                        ui.helper.width(width).height(height);
                    }
                });
                var arrInfo = $(this).attr("id").split("-");
                var groupId = arrInfo[1];
                var clientId = arrInfo[2];
                var clientIdString = "#networkClientBlock-" + groupId + "-" + clientId;
                var clientName = $(clientIdString).find("span.networkname").text().trim();
                $("div.group-panel").droppable({
                    tolerance: 'pointer',
                    accept: "div.client-panel",
                    drop: function (event, ui) {
                        var targetGroupId = $(this).attr("id").split("-")[1];
                        if (targetGroupId == groupAllId) return;
                        if (groupId == targetGroupId) return;
                        console.log("group id: " + groupId + "target group id: " + targetGroupId);
                        var targetGroupName = $(this).find("span.group-name").text().trim();
                        setAddClientToNetworkGroupModaltToDefaultState("#addClientToGroupModal");
                        var textToReplace = $("#addClientToGroupModal").find("div.modal-body > p").text();
                        textToReplace = textToReplace.replace("{0}", clientName);
                        textToReplace = textToReplace.replace("{1}", targetGroupName);
                        $("#addClientToGroupModal").find("div.modal-body > p").text(textToReplace);
                        $("#addClientToGroupModal").modal("show");
                        $("#btnAddClientToGroup").on("click", function () {
                            $.ajax({
                                url: "@Url.Action("MoveClientToGroup", "Group")",
                                type: "post",
                                data: { "clientId": clientId, "groupId": groupId,"targetGroupId": targetGroupId },
                                datatype: "json",
                                success: function () {
                                    $("#btnAddClientToGroup").off("click");
                                    location.reload();
                                }
                            });
                        });
                        $("#addClientToGroupModal").on("hide.bs.modal", function () {
                            $("#btnAddClientToGroup").off("click");
                        });
                    }
                });
            });
        };
        
        var deleteNetworkClientHandler = function() {
            $("a.delete-client").on("click", function() {
                var arrInfo = $(this).attr("id").split("-");
                var groupId = arrInfo[1];
                var clientId = arrInfo[2];
                var deleteText;
                if (groupId == groupAllId) {
                    deleteText = "Do you really want to delete this client permanently?";
                    $("#deleteNetworkClientConfiramtion").find("div.modal-body > p").text(deleteText);
                    $("#deleteNetworkClientConfiramtion").modal("show");
                    $("#btnDeleteNetworkClient").on("click", function() {
                        $.ajax({
                            url: "@Url.Action("Delete", "Client")",
                            type: "post",
                            data: { "clientId": clientId },
                            datatype: "json",
                            success: function (data) {
                                $("#btnDeleteClient").off("click");
                                $("#deleteNetworkClientConfiramtion").modal("hide");
                                location.reload();
                            }
                        });
                    });
                } else {
                    var groupName = $("#groupPanel-" + groupId).find("span.group-name").text().trim();
                    deleteText = "Do you really want to delete this client from group " + groupName + "?";
                    $("#deleteNetworkClientConfiramtion").find("div.modal-body > p").text(deleteText);
                    $("#deleteNetworkClientConfiramtion").modal("show");
                    $("#btnDeleteNetworkClient").on("click", function () {
                        console.log("delete");
                        $.ajax({
                            url: "@Url.Action("DeleteClientFromGroup", "Group")",
                            type: "post",
                            data: { "groupId": groupId, "clientId": clientId },
                            datatype: "json",
                            success: function(data) {
                                $("#btnDeleteClient").off("click");
                                $("#deleteNetworkClientConfiramtion").modal("hide");
                                location.reload();
                            }
                        });
                    });
                }
                $("#deleteNetworkClientConfiramtion").on("hide.bs.modal", function() {
                    $("#btnDeleteNetworkClient").off("click");
                });
            });
        };
        //
        //Reponsive design logic
        var setSiteTo320 = function () {
            if ($(window).width() <= 320) {
                $("span.networkname").each(function () {
                    var fullNetworkName = $(this).text();
                    console.log(fullNetworkName);
                    if (fullNetworkName.length > 8) {
                        var shortNetworkName = fullNetworkName.substring(0, 8) + "... ";
                        $(this).text(shortNetworkName);
                    }
                });
            }
        };

        var wrapTwoPanelByRow = function () {
            var $clientPanel = $("div.client-panel");
            var groupsCount = $("div.group-panel").length;
            console.log(groupsCount);
            var clientPanelCount = $clientPanel.length;
            var classNameToAdd = "wrap-2-";
            console.log(clientPanelCount);
            var clientPanelInRowCount = 2;
            for (var i = 0; i < groupsCount; i++) {
                var clientInGroupCount = $("div.group-panel:eq(" + i + ")").find("div.client-panel").length;
                console.log(clientInGroupCount);
                for (var j = 0; j < clientInGroupCount; j += clientPanelInRowCount) {
                    for (var k = 0; k < clientPanelInRowCount && (j + k) < clientInGroupCount; k++) {
                        $("div.group-panel:eq(" + i + ")").find("div.client-panel:eq(" + (j + k) + ")").removeClass(classNameToAdd + i + "-" + j);
                        $("div.group-panel:eq(" + i + ")").find("div.client-panel:eq(" + (j + k) + ")").addClass(classNameToAdd + i + "-" + j);
                        $("div.group-panel:eq(" + i + ")").find("div.client-panel:eq(" + (j + k) + ")").removeClass("unwrap-2");
                        $("div.group-panel:eq(" + i + ")").find("div.client-panel:eq(" + (j + k) + ")").addClass("unwrap-2");
                    }
                }
            }
            if ($(".client-row-2").length <= 0) {
                for (var i = 0; i < groupsCount; i++) {
                    var clientInGroupCount = $("div.group-panel:eq(" + i + ")").find("div.client-panel").length;
                    for (var j = 0; j < clientInGroupCount; j += clientPanelInRowCount) {
                        $("div." + classNameToAdd + i + "-" + j).wrapAll("<div class='row client-row-2'></div>");
                    }
                }
            }
        };

        var setSiteTo1080 = function () {
            if ($(window).width() < 1190 && $(".client-row").length > 0) {
                $(".unwrap").unwrap();

                wrapTwoPanelByRow();
            }
        };

        var setSiteTo1200 = function () {
            if ($(window).width() >= 1190 && $(".client-row-2").length > 0) {
                $(".unwrap-2").unwrap();
            }
            if ($(window).width() >= 1190 && $(".client-row").length <= 0) {
                var count = parseInt("@k")  + 1; // magic number
                console.log(count);
                for (var i = 0; i < count; i++) {
                    $(".wrap-" + i).wrapAll("<div class='row client-row'></div>");
                }
            }
        };

        var windowResizeHandler = function () {
            $(window).on("resize", function () {
                setSiteTo320();
                setSiteTo1080();
                setSiteTo1200();
            });
        };
        //
        //
        //Group handling section
        addCreateGroupButtonToPanel("div.group-panel:eq(0)");
        addCreateGroupButtonToPanel("div.group-panel:eq(1)");
        restoreGroupCollapsedPartStates("div.group-panel-collapse", "#collapseGroup-", "#groupPanel-", "a.group-collapse-trigger");
        //
        //Client hadling sections
        restoreClientCollapsedPartStates();
        //Site sizing logic
        setSiteTo320();
        setSiteTo1080();
        setSiteTo1200();
        //
        $(document).ready(function() {
            //Periodical functions
            checkStates();
            setInterval(checkStates, 1000);
            //
            //Group handling section
            groupCollapseHandler("a.group-collapse-trigger", "#collapseGroup-");
            createEditGroupModalDefaultState("#createGroupModal");
            modalShow("a.create-group", "#createGroupModal");
            modalShow("a.delete-group", "#deleteGroupConfiramtion");
            createGroupRequestHandler("@Url.Action("Create", "Group")", "#createGroupModal");
            editGroupHandler("a.edit-group", "@Url.Action("Edit", "Group")");
            deleteGroupHandler("a.delete-group", "@Url.Action("Delete", "Group")");
            //
            //Client handling section
            clientCollapseHandler();
            clientDropDownHanlder();
            addClientToGroupHandler();
            deleteNetworkClientHandler();
            commandHandler("@Url.Action("SwitchCommand", "Client")");
            moveClientToGroups("@Url.Action("GetGroupList", "Group")");
            moveClientToGroupsHadler("@Url.Action("MoveClientToGroups", "Group")");
            //
            //Sizing logic
            windowResizeHandler();
        });
    </script>
}
