﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<h3>Customer</h3>
<h4>Rostyslav Yaremchuk</h4>
<h3>Developed by</h3>
<h4>Oleksandr Kravchuk</h4>
<h4>Andriy Leshchuk</h4>
<h4>Andriy Pukalyak</h4>
<h3>Tested by</h3>
<h4>Sergiy "DeadLaim" Bozhko</h4>
<h4>Anastasiya Malynka</h4>
<h3>Mentored by</h3>
<h4>Volodymyr Stanislavskyi</h4>
<h4>Roman Derenko</h4>
<h4>Mykola Klymiuk</h4>
<h3>Managed by</h3>
<h4>Volodymyr Yakubovskyy</h4>
<h3>Supported by</h3>
<h4>Oleksiy "Ozzik" Bursanov</h4>

@section scripts{
    <script type="text/javascript">
        $("#Home").removeClass("active");
        $("#About").removeClass("active").addClass("active");
    </script>
}