﻿@model RPCSite.Models.Client
@{
    ViewBag.Title = "Remote Power Controller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Shut down any computer, anywhere.</h2>
        @if (WebSecurity.IsAuthenticated)
        {
            <p>@Html.ActionLink("Let's do this", "Index", "Client", null, new {@class = "btn btn-primary btn-lg"})</p>
        }
    </div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in error</h4>
      </div>
      <div class="modal-body">
        <p>Username or password is incorrect</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@if(!WebSecurity.IsAuthenticated)
{
  <div class="container">
      <form id="form-sign-in" class="form-signin" role="form" method="POST">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input id="Username" name="Username" type="text" class="form-control" placeholder="Username" required autofocus>
          <input id="Password" name="Password" type="password" class="form-control" placeholder="Password" required>
          <label class="checkbox"> 
              <input id="RememberMe" name="RememberMe" type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

  </div> <!-- /container -->
}

@section scripts{
    <script type="text/javascript">
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
        $(document).ready(function() {
            $("#RememberMe").click(function() {
                if ($(this).is(":checked")) {
                    $(this).val("true");
                    return;
                }
                else $(this).val("false");
                return;
            });
            var $userInput = $("#Username");
            var $passInput = $("#Password");
            var oldValue = $userInput.data("oldVal");
            if (oldValue) $userInput.val(oldValue);
            $("#form-sign-in").submit(function() {
                var username = $userInput.val();
                $userInput.data("oldVal", username);
                var password = $passInput.val();
                //console.log(username + " " + password);
                //var usernameRegExp = /^[a-zA-Z](([\._\-][a-zA-Z0-9])|[a-zA-Z0-9])*[a-z0-9]$/;
                //.match(usernameRegExp) == null)
                if (password.length < 6 || username.length < 3) {
                    $("#myModal").modal("show");
                    return false;
                }
                //console.log(username + " " + password);
                var formData = $("#form-sign-in").serialize();
                console.log(formData);
                $.ajax({
                    url: "@Url.Action("Login", "Home")",
                    type: "POST",
                    data: formData,
                    success: function(data) {
                        //console.log(data.success);
                        if (data.success) window.location.replace("@Url.Action("Index", "Client")");
                        else $("#myModal").modal("show");
                    }
                });
                return false;
            }
            );
        });
    </script>
}
