﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/images/favicon.ico"/>
    <title>RPC Turn On And Remote Desktop</title>
     @Styles.Render("~/Content/bootstrapcss")
    <link href="~/Content/cover.css" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"></h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading"><img src="~/Content/images/RPCIcon.png"/>Remote Power Controller</h1>
                        <p id="statusText" class="lead">Wait till your PC(@(ViewBag.Name ?? Html.Raw("&nbsp;"))) is turning on.</p>
                        <p class="lead">
                            <a id="RDlink" href="@Url.Action("DownloadRDP", "Client", new {id = @ViewBag.Id})" class="btn btn-lg btn-default" style="display: none;">Remote Desktop</a>
                        </p>
                        <div id="spinner" style="margin-top: 250px;">
                        </div>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            
                        </div>
                    </div>

                </div><!--<div class="cover-container">-->

            </div><!--<div class="site-wrapper-inner">-->

    </div><!--<div class="site-wrapper">-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrapjs")
    <script src="~/Scripts/spin.js"></script>
    <script type="text/javascript">
        var opts = {
            lines: 12, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#fff', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById("spinner");

        var checkIfPCIsTurnedOn = function (spinner, currentDate, refreshIntervalId) {
            var newDate = new Date();
            $.ajax({
                url: "@Url.Action("CheckClientState", "Client")",
                type: "post",
                data: { "id": '@(ViewBag.Id)' },
                datatype: "json",
                success: function (data) {
                    if (data.CurrentState == "On") {
                        clearInterval(refreshIntervalId);
                        spinner.stop();
                        $("a#RDlink").show();
                        var url = $("a#RDlink").attr('href');
                        downloadURL(url, function() {
                            logOut();
                        });
                    }
                    else if ((newDate - currentDate) > (10 * 1000)) {
                        clearInterval(refreshIntervalId);
                        spinner.stop();
                        timeOutErrorHandler();
                        console.log("before logout");
                        logOut();
                    }
                }
            });
        };

        var timeOutErrorHandler = function () {
            var errorText = "Something goes wrong. Please, try later.";
            $("#statusText").text(errorText);
        };

        var logOut = function () {
            $.post("@Url.Action("LogOut", "Home")", function() {
                //closeWindow();
            });
        };

        var closeWindow = function () {
            open(location, '_self').close();
        };
        
        var downloadURL = function downloadURL(url, callback) {
            var hiddenIFrameID = 'hiddenDownloader',
                iframe = document.getElementById(hiddenIFrameID);
            if (iframe === null) {
                iframe = document.createElement('iframe');
                iframe.id = hiddenIFrameID;
                iframe.style.display = 'none';
                document.body.appendChild(iframe);
            }
            iframe.src = url;
            callback();
        };
        
        $(document).ready(function () {
            var currentDate = new Date();
            var spinner = new Spinner(opts).spin(target);
            var refreshIntervalId = setInterval(function () { checkIfPCIsTurnedOn(spinner, currentDate, refreshIntervalId); }, 1500);
        });
    </script>
</body>
</html>
